.header {
  height: 3rem;
  background-color: white;
  padding: 0 5rem;
}

.logo {
  height: 100%;
}

.container {
  min-height: 100px;
  max-width: 600px;
  margin: 1rem auto;
  background: white;
  border-radius: 2px;
  padding: 1rem;
  box-sizing: border-box;
}

.form {
  display: grid;
  grid-template-columns: [label] 5rem [content] 1fr;
  grid-row-gap: 0.5rem;
}

.form > * {
  grid-column: content;
}

.form > label,
.form > h1,
.form > h2,
.form > h3,
.form > h4,
.form > h5 {
  grid-column: label;
}
