<div local-class="header">
  <img local-class="logo" src="/logo-transparent-300x122.png" aria-hidden="true">
</div>
<div local-class="container">
  <div class="menu">
    <div class="links">
      {{#link-to "tutorial" class="menu-about"}}
        start
      {{/link-to}}
    </div>
  </div>
</div>
<div local-class="container">
  <div class="body">
    {{outlet}}
  </div>
</div>